<button class="btn btn-outline-primary ml-auto" (click)="open(content)" *ngIf="!adminService.login">
	Войти
</button>
<button class="btn btn-link ml-auto" (click)="logout()" *ngIf="adminService.login">
	<span class="text-white">
		{{ adminService.admin }}
	</span>, выйти
</button>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<p class="modal-title h2">
			Please sign in
		</p>
		<button type="button"
				class="close"
				aria-label="Close"
				(click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form class="form-signin" (ngSubmit)="login(admin.value, password.value, content)" #heroForm="ngForm">
			
			<input  type="text"
					class="form-control"
					placeholder="Login"
					required
					autofocus
					#admin>
			
			<input  type="password"
					class="form-control mt-2"
					placeholder="Password"
					required
					#password>
			
			<button class="btn btn-lg btn-block mt-4" [ngClass]="{'btn-danger': error, 'btn-primary': !error}"
					type="submit">
				Sign in
			</button>
			<p class="text-danger" *ngIf="error">Нет такого пользователя</p>
		
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-outline-dark" (click)="c('Close click')">
			Close
		</button>
	</div>
</ng-template>
