<div [@enterAnimation] class="media text-muted align-items-stretch task border-bottom border-gray pb-3 pt-3" *ngIf="!delete">
	<img src="{{ task.image ? task.image : 'http://via.placeholder.com/160x100' }}" class="mr-4 task__image rounded" *ngIf="!edit">
	<div class="position-relative" *ngIf="edit">
		<img src="{{ editingTask.image ? editingTask.image : 'http://via.placeholder.com/160x100' }}" class="mr-4 task__image rounded">
		<input type="file" title="edit" class="position-absolute w-100 h-100" (change)="uploadPhoto($event)">
	</div>
	<div class="media-body mb-0 small lh-125">
		<div class="d-flex justify-content-between align-items-start w-100">
			<div class="pr-4 d-flex flex-wrap">
				<div *ngIf="!edit">
					<strong class="text-capitalize">
						{{ task.name }}
					</strong>

					<a href="mailto:{{ task.email }}">
						{{ task.email }}
					</a>

					<p class="d-block">
						{{ task.content }}
					</p>
				</div>

				<div class="input-group" *ngIf="edit">
					<input
						type="text"
						[value]="editingTask.name" 
						(input)="editingTask.name = $event.target.value"
						class="font-weight-bold form-control temp-task__input">
					<input
						type="email"
						[value]="editingTask.email" 
						(input)="editingTask.email = $event.target.value"
						class="font-weight-bold form-control ml-1 temp-task__input">
					<textarea
						(input)="editingTask.content = $event.target.value"
						rows="5"
						class="d-block mt-2 w-100 form-control font-weight-bold temp-task__input">{{ editingTask.content }}</textarea>
				</div>
			</div>
			<div class="btn-group-vertical">
				<div class="btn-group btn-group-toggle">
					<label [ngClass]="{'btn-primary': done, 'btn-success': !done}" ngbButtonLabel>
						<input type="checkbox" ngbButton [disabled]="adminService.login ? disabled: ''" [(ngModel)]="done"> {{ done ? "Done" : "Undone" }}
					</label>
				</div>
				<button class="btn btn-primary" *ngIf="(adminService.login && !edit) || (task.public_nonce !== null)" (click)="edit = !edit">
					Edit {{ (task.public_nonce !== null) ? 'preview' : '' }}
				</button>
				<button class="btn btn-primary" [disabled]="send" [ngClass]="ajaxClass" *ngIf="(task.public_nonce !== null) || (adminService.login && edit)" (click)="editTask()">
					Save {{ (task.public_nonce !== null) ? 'preview' : '' }}
				</button>
				<button class="btn btn-primary" [disabled]="send" [ngClass]="ajaxClass" *ngIf="adminService.login && edit" (click)="resetTask()">
					Reset
				</button>
				<button class="btn btn-primary" *ngIf="adminService.login || (task.public_nonce !== null)" (click)="remove()">
					Delete {{ (task.public_nonce !== null) ? 'preview' : '' }}
				</button>
				<button [disabled]="send" [ngClass]="{ 'btn': true, 'btn-danger': true }" *ngIf="adminService.login && edit" (click)="edit = !edit">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>