.task {
	&__image {
		width: 160px;
		height: 100%;
		min-height: 120px;
		object-fit: contain;
	}
}

.temp-task {
	opacity: 0.6;
}

input[type="file"] {
	top: 0;
	opacity: 0;

	&:hover {
		cursor: pointer;
	}
}