.temp-task {
	position: relative;
	cursor: pointer;
	
	&__image {
		width: 160px;
		height: 100%;
		min-height: 120px;
		padding: 0;
		object-fit: contain;		
	}
}

// input[type="file"] {
// 	width: 160px;
// 	height: calc(100% - 2rem);
// 	position: absolute;
// 	top: 1rem;
// 	left: 0;
// 	opacity: 0;

// 	&:hover {
// 		cursor: pointer;
// 	}
// }