<form  [@enterAnimation] action="#" #addTaskForm = "ngForm" (ngSubmit)="onSubmit()" >
	<div class="media text-muted align-items-stretch task border-bottom border-gray pb-3 pt-3 temp-task">
		<input 
			#loadImage
			type="file"
			id="file"
			name="image"
			(change)="uploadPhoto($event)"
			class="d-none">
		<img
			[src]="task.image" 
			alt="" 
			class="mr-4 border temp-task__image rounded" 
			(click)="loadImage.click()"
		>
		<div class="media-body mb-0 small lh-125">
			<div class="d-flex justify-content-between align-items-start w-100">
				<div class="pr-4 d-flex flex-wrap">
					<div class="temp-task__group text-capitalize mb-2 mr-5 border-bottom border-gray">
						<label [ngClass]="{'font-weight-bold position-absolute': true, 'd-none': task.name}" for="name">{{ hints.name }}</label>
						<input 
							#name="ngModel"
							name="name" 
							id="name"
							required 
							[(ngModel)]="task.name"
							class="font-weight-bold border-0 temp-task__input" 
							placeholder="">
					</div>
					<div class="temp-task__group text-capitalize mb-2 border-bottom border-gray">
						<label [ngClass]="{'font-weight-bold position-absolute': true, 'd-none': task.email}" for="email">{{ hints.email }}</label>
						<input 
							#email="ngModel"
							id="email"
							required 
							name="email"
							type="email"
							[(ngModel)]="task.email"
							class="font-weight-bold border-0 temp-task__input"
							placeholder="">
					</div>
					<div class="temp-task__group text-capitalize w-100 border-bottom border-gray">
						<label [ngClass]="{'font-weight-bold position-absolute': true, 'd-none': task.content}" for="content">
							{{ hints.content }}
						</label>
						<textarea 
							#content="ngModel"
							id="content"
							required
							name="content"
							[(ngModel)]="task.content"
							class="w-100 font-weight-bold border-0 temp-task__input" 
							placeholder=""></textarea>
					</div>
				</div>
				<div class="d-flex flex-wrap ml-auto flex-column">
					<div class="btn-group btn-group-toggle mb-2">
						<label [ngClass]="{ 'btn-primary': true, 'disabled': !addTaskForm.form.valid }" ngbButtonLabel>
							<input type="checkbox" class="d-none" type="submit" [disabled]="!addTaskForm.form.valid" ngbButton (click)="preview = true"> Create preview
						</label>
					</div>
					<div class="btn-group btn-group-toggle mb-2">
						<label [ngClass]="{ 'btn-primary': true, 'disabled': !addTaskForm.form.valid }" ngbButtonLabel>
							<input type="checkbox" class="d-none" type="submit" [disabled]="!addTaskForm.form.valid" ngbButton> Create
						</label>
					</div>
					<div class="btn-group btn-group-toggle">
						<label class="btn-danger" ngbButtonLabel>
							<input type="checkbox" ngbButton (click)="onCancel()"> Cancel
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>