<app-sing-form class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
</app-sing-form>

<main class="container d-flex" style="padding-top: 60px; min-height: 100vh">

	<div class="my-auto w-100 p-3 bg-white rounded shadow-lg">
		<div class="border-bottom border-gray pb-2 mb-0 d-flex align-items-center">
			<h6 class="w-50 m-0">
				Task list
			</h6>
			<div class="ml-auto w-50 d-flex align-items-center">
				<p class="mr-1 mb-0">Sort:</p>
				<select class="form-control" (change)="changeSort($event.target.value)">
					<option value=""></option>
					<option value="name">Name</option>
					<option value="email">Email</option>
					<option value="content">Content</option>
				</select>
			</div>
		</div>
		<ngb-alert *ngIf="showHint" type="success" (close)="showHint = null">Succesfully added task with id: {{ taskID }}</ngb-alert>
		<router-outlet></router-outlet>
		<app-new-task *ngIf="addNewTask" (destroy)="onDestroy($event)"></app-new-task>
		<div class="text-right mt-3 d-flex align-items-center">
			<app-pagination></app-pagination>
			<button class="btn btn-outline-primary ml-auto" (click)="addNewTask = true">
				New task
			</button>
		</div>
	</div>

</main>